body {
    margin: 0%;
}

.nav {
    
    display: flex;
    justify-content: flex-start;
    align-self: center;
    background-color:#C3DBFF;
    height: 110px;
}

#title {
    font-style: italic;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.half{
    width: 50%
}

.box {
    background-color: rgb(184, 184, 184); /* Green */
    border: none;
    color: black;
    padding: 100px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    justify-self: flex-start;
    flex-direction: column;

  }