body {
    margin: 0%;
}

.nav {
    
    display: flex;
    justify-content: flex-start;
    background-color:#C3DBFF;
    height: 110px;
}

#title {
    font-style: italic;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}